<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="job.css">
  </head>
  <body>
    <h2 id="page-title">Job Information</h2>

    <p class="card" id="description">This is where the job description will go</p>

    <div class="container">

      <p class="column card" id="skills-had">This is where skills you have for this job will go</p>

      <p class="column card" id="skills-needed">This is where skills that you need will show</p>

      <p class="column card" id="job-rating">This is where the job rating will go</p>

    </div>


    <div class="container">

      <div class="card large-column" id="careers-path">
        <h3>Careers Path</h3>
        <ul>
          <li>Entry Level</li>
          <li>Junior Developer</li>
          <li>Senior Developer</li>
          <li>Tech Lead</li>
          <li>Engineering Manager</li>
        </ul>
      </div>

      <div class="card column" id="companies">
        <div class="container-rows">

          <div class='row'>

            <div class='large-column'>
              <div class='blue-column'>
                <p>Text in Row 1 Column 1</p>
              </div>
            </div>
            <div class='column'>
              <div class='green-column'>
                <img src="company_profile.jpg" class="company-image">
              </div>
            </div>

          </div>

          <div class="row">

            <div class='large-column'>
              <div class='blue-column'>
                <p>Text in Row 2 Column 1</p>
              </div>
            </div>
            <div class='column'>
              <div class='green-column'>
                <img src="company_profile.jpg" class="company-image">
              </div>
            </div>

          </div>


          <div class="row">

            <div class='large-column'>
              <div class='blue-column'>
                <p>Text in Row 3 Column 1</p>
              </div>
            </div>
            <div class='column'>
              <div class='green-column'>
                <img src="company_profile.jpg" class="company-image">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </body>
</html>